	// start .sEvents
.sEvents {
&__col &__col-label {
		width: 100%;
		flex: 1 0 0%;
	}
	&--speaker {
		max-width: rem(1170);
	}
	padding-top: rem(20);
	padding-bottom: rem(136);

	.section-title{
		padding-bottom: rem(20);
	}

	&__time{
		font-size: rem(20);
	}

	&__text{
			@include media-breakpoint-up(sm){

				display: flex;
				flex-wrap: wrap;
			}
	}
	&__title{
		max-width: rem(800);
		margin-bottom: 9px;
		// margin-bottom: 1rem;
		font-size: rem(20);
		// word-break: ;
		hyphens: auto;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto; 
		a{
			display: inline-block;
			max-width: 100%;
			hyphens: auto;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto; 

		}
	}
	&__speaker{
		margin-right: rem(13);
	}
	&__label-elem{
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
		margin-bottom: 1rem;
		@include media-breakpoint-up(md){
			margin-right: rem(50);
		}
	}
	&--page{
		 
	}
	&__line{
		position: relative;
		z-index: 2;
		margin-bottom: rem(30);
		&::before{
			content: '';
			position: absolute;
			@include a-cent;
			left: -50vw;
			width: 150vw;
			background-image: url(../img/svg/arrows-date.svg);
			z-index: -1;
			height: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}	
	}
	&__date{
		background: #161C28;
		/* 2 */

		border: 1px solid #DC000B;
		@include media-breakpoint-up(sm) {

			font-size: rem(20);
		}
		display: inline-block;
		padding: rem(5) rem(18);
		margin-top: rem(15);
		margin-bottom: rem(17);
	}

		
		&--main {
			padding-top: rem(70);
			padding-bottom: rem(70);
			background: #161C28;
			margin-bottom: rem(70);
		}
	&__head{
		font-size: rem(13);
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		padding: 0;
		border-radius: 50%; 
		width: rem(40);
		height: rem(40);
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		.icon{
			font-size: rem(20);
		}
	}
	&__item{
		
		margin-bottom: 16px; 
		position: relative;
		background:#2A2D31;
		@include mt;
		width: 100%;
		&:hover {
			background: rgba($color: #161C28, $alpha: 0.5);
		}
		/* 2 */
		// box-shadow: 0px 23px 28px -10px rgba(10, 15, 24, 0.78);
		// border-radius: 4px;
		// padding: rem(22) rem(27) rem(23) rem(20);
		@include media-breakpoint-up(sm){

			padding: 21px 10px 25px 27px;
		}
		padding: rem(20) rem(10);
		// padding-right: rem(60);
		&--main{
			padding-right: rem(25);
			background: #0D1019;
		}
		// .row{
		// 	align-items: center;
		// }
		.h6{
			font-weight: 300;
		}
		&--main{
			 height: calc(100% - 14px);
		}
		&.inactive {
			background: #10151F;
			pointer-events: none;

			.sEvents__star {
				display: none;
			}
		}
		&.disabled{
			background: repeating-linear-gradient(-45deg,
				transparent,
				transparent 16px,
			#2A2D31 16px,
			#2A2D31 17px);
		}
		.toggle-text {
			display: none;
			transform: skewY(0);
			transform-origin: 0 0;
			left: 0;
			top: 0;
			@include mt(.6);
			opacity: 0;
		}
		&:hover{
				@include media-breakpoint-up(sm){

					.toggle-text{
						opacity: 1;
						display: block;
						transform: skewY(1); 
					}
				}
		}
		// min-height: rem(224);
	}

	&__star{
		color: $primary;
		margin-bottom: rem(10);
		cursor: pointer;
		position: absolute;
		z-index: 5;
		right: rem(20);
		top: rem(18);
		.icon{
			stroke: currentColor;
			fill:transparent;
			font-size: rem(20); 
			@include mt;
		}
			&:hover,
			&.active {
				.icon {
					fill: currentColor;
				}
			}
	}

	.tabs__content{
		// padding-left: rem(50);
	}
	.tabs__caption{
		margin-bottom: 2rem;
	}
	.tabs-inner{
		&__content{
			// padding-top: rem(8);
			// padding-left: rem(10);
			border-left: 1px solid rgba($color:#8F9BB3, $alpha: .4);
			// padding-bottom: rem(30);
			display: none;
			&.active {
				display: block;
			}
		}

		&__caption {
			padding-bottom: rem(25);
		}

		&__btn {
			@extend .btn;
			@extend .btn-outline-primary;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			&:not(:last-child) {
				margin-right: rem(20);
			}

		}
	}
	&__group{
		position: relative;
	}
	&__group-time{
		position: absolute;
		right: 100%;
		font-weight: bold;
		transform-origin: 0 0;
		transform: rotate(90deg);
		// bottom: rem(10);
		top: rem(10);
		left: rem(-20);
	}
	&__row-main{
		z-index: 2;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: rem(-15);
			left: -50vw;
			width: 150vw;
			background-image: url(../img/svg/arrows-date.svg);
			z-index: -1;
			height: rem(70);
			background-size: contain;
			background-position: center center;
			transform: rotateY(180deg);
			background-repeat: no-repeat;
			// background-size: ;
			opacity: 0.5;
		}
	}
	.h6{
		line-height: (34 / 20);
	}
	
	&__col{
		min-width: rem(280);
		@include media-breakpoint-up(xxl) {
			--size: calc(100% / 5)
		}
		@include media-breakpoint-up(xl) {
			// --size: calc(100% / 4)
			--size: calc(100% / 3)
		}
		@include media-breakpoint-up(lg) {
			--size: calc(100% / 2)
		}
		@include media-breakpoint-up(md) {
		}
		flex: 0 0 var(--size);
		max-width: var(--size);
	}

	&__text{
		strong,
		span{
			display: inline-block;
		}
	}
	.row--sm{
		@include roww(16px);
		 .sEvents__item{
			min-height: rem(224);
			min-height: calc(248);
			 height: calc(100% - 16px);
		}
	}
	
	&__copy-block{
		@include media-breakpoint-up(sm) {

			max-width: 550px;
		}
		max-width: 100%;
		margin-top: 1rem;
		.col-sm {
			
			@include media-breakpoint-up(sm) {

				max-width: rem(300);
			}
		}
		.row{
			// flex-wrap: nowrap;
			@include roww(10px);
		}
	}
	&__link-text{
		
	}
	&__link-text{
		@include ellips;
		padding: rem(5) rem(4);
		background-color: $secondary;
		// maxw
		// height: rem(34);
		font-size: $small; 
		margin-bottom: rem(10);
	}

	&__logo-wrap{
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		padding-left: rem(20);
		padding-right: rem(20);
		@include media-breakpoint-up(md) {

			width: rem(240);
		}
		// height: calc(100% - 16px);
		height:  rem(224);
		margin-bottom: 16px;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

	 

	&__col {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
		}
	}

	&__location {
		font-size: 13px;
		margin-left: rem(10);
		@include media-breakpoint-up(sm) {
			margin-left: rem(30);
		}
	}

	&__event {
		font-size: 13px;
		color: rgba($color: #fff, $alpha: 0.5);
		margin-left: rem(10);
		@include media-breakpoint-up(sm) {
			margin-left: rem(30);
		}
	}

	&__row {
		padding-bottom: rem(12);
	}

	&__whatHappen {
		@extend .h5;
	}
} // end.sEvents