mixin sEvents()
	// start sEvents
	+b.sEvents&attributes(attributes)
		mixin item(d,t,l, star )
			+e.item
				.row
					+e.time.strong.text-primary.col-lg-auto.col.order-first!= d
					if !star
						.col-auto.order-lg-last
							+e.star.active
								+icon('star-active')
						+e.col-label.col-md-auto.order-md-first.order-lg-0
							+e.label-elem!= l
					.col-lg.order-lg-first
						+e.text-block
							+e.title.strong
								a(href="#").text-body!= t
							+e.text
								.row
									if block
										block
									else
										.col-auto
											strong.text-primary Ольга Сигаль 
											| 
											span OCS Distribution
					//- .col-auto.order-lg-last
					//- 	+e.star.active
					//- 		+icon('star-active')
					//- .col-md-auto.order-md-first.order-lg-0
					//- 	+e.label-elem!= l


		+item(`12:40`, `Круглый стол с Ольгой Сигаль : Digital Академия, управляющий партнер «Возможен ли цифровой прорыв для IT-гигантов?»`, `Круглый стол`)
		+item(`13:50`, `Круглый стол с Анной Черняковой, вице-президентом OCS Distribution`, `Круглый стол`)

		+item(`13:50`, `Название сессии от вендора в одну или несколько строк`, `Сессия`) 
		+item(`13:50`, `Название сессии от вендора в одну или несколько строк`, ``,"st") 
			.col-12
				+e.copy-block
					.row
						.col-sm
							+e.link-text https://docs.google.com/document/d/12uUxcxKaEXUW9f7X2PC-Gn_aNHgxL_g5ys_GDyPQ5oE/edit#
						.col-auto
							button.btn.btn-sm.btn-primary Копировать
						.col-auto
							button.btn.btn-sm.btn-primary Присоединится



mixin sEvents-12()
	// start sEvents
	+b.sEvents--page.section#sEvents&attributes(attributes)
		.container.container-large
			mixin item(d,t,l, star , active, p)
				+e.item(class="wow  animate__fadeInUp "   )&attributes(attributes)
					.row
						+e.time.strong.text-primary.col-lg-auto.col.order-first!= d

						if star
							.col-auto.order-lg-last
								+e.star(class= active)
									+icon('star-active')
						if l
							+e.col-label.col-md-auto.order-md-first.order-lg-0
								+e.label-elem!= l
						.col-lg.order-lg-first
							+e.text-block
								+e.title.strong
									a(href="#").text-body!= t
								if block
									block
								else
									+e.text 
										.row
											.col-auto
												strong.text-primary Ольга Сигаль 
												| 
												span OCS Distribution
					if p
						.toggle-text
							p= p
			mixin itemB(a, d,t,l, star , active, p)
				+e.item(class="wow  animate__fadeInUp "   )&attributes(attributes)
					.row
						+e.time.strong.text-primary.col-lg-auto.col.order-first!= d

						if star
							.col-auto.order-lg-last
								+e.star(class= active)
									+icon('star-active')
						if l
							+e.col-label.col-md-auto.order-md-first.order-lg-0
								+e.label-elem!= l
						.col-12
							+e.text-block
								+e.title.strong
									a(href= a).text-white!= t
								if block
									block
								else
									+e.text 
										.row
											.col-auto
												strong.text-primary Ольга Сигаль 
												| 
												span OCS Distribution
					if p
						.toggle-text
							p= p
			.tabs
				.tabs__caption
					.tabs__btn.btn.btn-outline-primary.active Программа 
					.tabs__btn.btn.btn-outline-primary Включение из демо-зон
			.tabs__wrap
				.tabs__content
					+item(`12:05`, `Круглый стол с Ольгой Сигаль : Digital Академия, управляющий партнер «Возможен ли цифровой прорыв для IT-гигантов?»`, `Панельная дискуссия`,'s','active','Рынок ИТ отличает высокая динамика, и когда появляются очередные изменения в технологиях или бизнес-моделях, сразу возникает очередная дискуссия о том, как эти изменения повлияют на дистрибуцию. Появление ПК, массовое распространение Интернета, интернет-коммерция, облачные технологии – все эти явления должны были уничтожить дистрибуцию как бизнес не один раз, но она еще жива и, вопреки предсказаниям скептиков, чувствует себя совсем неплохо. В чем же феномен долголетия ИТ-дистрибуции?') 
					+item(`12:05`, `Панельная дискуссия с Максимом Сорокиным, председателем совета директоров OCS Distribution`, `Панельная дискуссия`,'s','active')
						.row
							.col-auto
								strong.text-primary Максим Сорокин  
								| 
								span OCS Distribution
							.col-auto
								strong.text-primary Виктор Дробышев
								| 
								span Google inc.
					+item(`12:30`, `Начало работы зоны EXPO`, ` `)(class="disabled") 
					+item(`12:30`, `Прямой эфир из зоны EXPO`, ` `,'s') 
					+item(`12:05`, `Круглый стол с Ольгой Сигаль : Digital Академия, управляющий партнер «Возможен ли цифровой прорыв для IT-гигантов?»`, `Панельная дискуссия`,'s','active','Рынок ИТ отличает высокая динамика, и когда появляются очередные изменения в технологиях или бизнес-моделях, сразу возникает очередная дискуссия о том, как эти изменения повлияют на дистрибуцию. Появление ПК, массовое распространение Интернета, интернет-коммерция, облачные технологии – все эти явления должны были уничтожить дистрибуцию как бизнес не один раз, но она еще жива и, вопреки предсказаниям скептиков, чувствует себя совсем неплохо. В чем же феномен долголетия ИТ-дистрибуции?') 
					+item(`12:40`, `Начало мероприятия, приветственное слово участникам`, ` `)
					+item(`13:40`, `Прямой эфир из зоны EXPO`, ` `,'s') 
					+item(`13:40`, `Круглый стол с Анной Черняковой, вице-президентом OCS Distribution`, ` `)
					+item(`13:50`, `Прямой эфир из зоны EXPO`, ` `,'s') 
					.row.row--sm
						- for (var x = 0; x < 20; x++)
							+e.col.col-12
								+itemB(a, `13:50`, `Название сессии от вендора в одну или несколько строк`, `Сессия`,'s')
				.tabs__content.active 
						mixin line(i)
							.row.row--sm 
								+e.col-logo.col-md-auto(class="wow  animate__fadeInUp "   )
									+e.logo-wrap
										+pic(i,'',0)
								.col
									.row.row--sm 
										block
						
						+line('baumInform.png')
							- let a = 'https://us02web.zoom.us/j/82990989017'
							+e.col.col-12
								+itemB(a, `14:00 -14:20  `, ` Показ базовой настройки СХД BAUM-Inform`, ``,'') 
							+e.col.col-12
								+itemB(a, `15:00 -15:20 `, ` Показ базовой настройки СХД BAUM-Inform`, ``,'') 
						+line('checkPoint.jpg')
							- let a = 'https://us02web.zoom.us/j/82772628132'
							+e.col.col-12
								+itemB(a, `15:00 - 16:00  `, `Демонстрация Check Point Infinity SOC`, ``,'') 
							+e.col.col-12
								+itemB(a, `16:00 - 16:30`, `Демонстрация Sandblast Agent Management Platform`, ``,'') 
						+line('citrix.jpg')
							- let a = 'https://us02web.zoom.us/j/83111701528'
							+e.col.col-12
								+itemB(a, `12:00 - 13:00  `, `Демонстрация работы Citrix Unified Gateway в различных сценариях входа пользователя на основе предварительного анализа его устройства `, ``,'') 
							+e.col.col-12
								+itemB(a, `14:00 - 15:00 `, `Демонстрация работы Citrix Unified Gateway в различных сценариях входа пользователя на основе предварительного анализа его устройства`, ``,'') 
							+e.col.col-12
								+itemB(a, `16:00 - 16:30  `, `Демонстрация работы Citrix Unified Gateway в различных сценариях входа пользователя на основе предварительного анализа его устройства`, ``,'') 
						+line('cyberpower.png')
							- let a = 'https://us02web.zoom.us/j/84060683810'
							+e.col.col-12
								+itemB(a, `14:30 - 15:00  `, `Демонстрация онлайн нового поколения OL (high densyty) `, ``,'') 
							+e.col.col-12
								+itemB(a, `15:00 - 15:30 `, `Green Power UPS на практике - прямое включение из Новосибирска`, ``,'') 
							+e.col.col-12
								+itemB(a, `15:30 - 16:00  `, `Управление батарейными массивами (BMS) и встроенный BMS онлайн и SMART ИБП`, ``,'') 
							+e.col.col-12
								+itemB(a, `16:00 - 16:30 `, `Награждение победителей и эксклюзивный, первый показ новой модели ИБП`, ``,'') 
						+line('eaton.jpg')
							- let a = 'https://us02web.zoom.us/j/89129043176'
							+e.col.col-12
								+itemB(a, `13:00-14:00 `, `Презентация нового модульного ИБП Eaton 93PM-G2. Прямая трансляция с завода в Эспуу, Финляндия`, ``,'') 
						
						+line('elo.png')
							- let a = 'https://us02web.zoom.us/j/87054952457'
							+e.col.col-12
								+itemB(a, `14:00 - 14:30  `, `ELO Retail – Price checker`, ``,'') 
							+e.col.col-12
								+itemB(a, `14:30 - 15:00 `, `ELO POS – Вариации применения моноблоков в разных сферах рынка`, ``,'') 
							+e.col.col-12
								+itemB(a, `15:00 - 15:30 `, `Huddle Kit – Оснащение Конференц залов  - ELO IDS`, ``,'') 
							+e.col.col-12
								+itemB(a, `15:30 - 16:00  `, `Новинки Elo 2021`, ``,'') 
						
						+line('extreme.png')
							- let a = 'https://us02web.zoom.us/j/86762106929'
							+e.col.col-12
								+itemB(a, `14:50 - 15:20`, `Система мониторинга и анализа WiFi сети Extreme `, ``,'') 
								 
							+e.col.col-12
								+itemB(a, `15:30 - 15:50`, `Фабрика и система управления Extreme Managment Center  `, ``,'') 
								 
						+line('fujitsu.png')
							- let a = 'https://us02web.zoom.us/j/81336881940'
							+e.col.col-12
								+itemB(a, `14:00 - 16:00 `, `Fujitsu ETERNUS Storage Cluster`, ``,'') 
								 
						
						+line('H3C.png')
							- let a = 'https://us02web.zoom.us/j/86709423003'
							+e.col.col-12
								+itemB(a, `12:00 - 12:30 `, `Видео о компании H3C`, ``,'') 
							+e.col.col-12
								+itemB(a, `12:30 - 13:45 `, `H3C Intro, H3C Portfolio`, ``,'') 
							+e.col.col-12
								+itemB(a, `14:00 - 14:45 `, `CAS Intro Prezo, CAS vLAB`, ``,'') 
							+e.col.col-12
								+itemB(a, `15:00 - 16:30 `, `AD-DC Intro Prezo, AD-DC vLAB, AD-Campus Intro Prezo, AD-Campus vLAB`, ``,'') 
						
						+line('hp.jpg')
							- let a = 'https://us02web.zoom.us/j/88568803774'
							+e.col.col-12
								+itemB(a, `12:30 - 12:40 `, `Прямое включение - стенд НР в режиме live`, ``,'') 
								 
							+e.col.col-12
								+itemB(a, `12:40 - 14:30 `, `Трансляция из Шоу-Рума HP&OCS г. Екатеринбург`, ``,'') 
							 
							+e.col.col-12
								+itemB(a, `13:00 - 13:45 `, `Продукты и технологии НР из сегмента бизнес PC `, ``,'') 
							 
							+e.col.col-12
								+itemB(a, `14:30 - 16:00 `, `Трансляция из Шоу-Рума HP&OCS г. Самара    `, ``,'') 
							 
						
							+e.col.col-12
								+itemB(a, `15:00 - 15:30 `, `Печатная техника НР: Демонстрация возможностей`, ``,'') 
							 
						+line('jabra.png')
							- let a = 'https://us02web.zoom.us/j/83365884473'
							+e.col.col-12
								+itemB(a, `14:30 - 15:15  `, `Демо на стенде Jabra, рассказ про продукты и новости`, ``,'')  
							 
							+e.col.col-12
								+itemB(a, `15:15 - 15:45 `, `Обзор Jabra PanaCast и Jabra Speak 71015.30 Обзор Jabra Evolve 2 40 и Jabra Evolve 2 65`, ``,'')  
							 
						
							+e.col.col-12
								+itemB(a, `15:45 - 16:15 `, `Обзор Jabra Evolve 75e и Jabra Evolve 65t`, ``,'')  
							 
						+line('logotech.png')
							- let a = 'https://us02web.zoom.us/j/83485850639'
							+e.col.col-12
								+itemB(a, `13:00 - 13:30 `, `Демонстрация решений Logitech для видеоконференций. Продукты: конференц-камеры Rally и MeetUp, решения для помещений, веб-камера Brio, гарнитура Zone Wireless`, ``,'')  
							 
					 
							+e.col.col-12
								+itemB(a, `15:30 - 16:00 `, `Демонстрация решений Logitech для видеоконференций. Продукты: конференц-камеры Rally и MeetUp, решения для помещений, веб-камера Brio, гарнитура Zone Wireless`, ``,'')  
								 
						+line('logo_ocs.png')
							- let a = 'https://us02web.zoom.us/j/89510745749'
							+e.col.col-12
								+itemB(a, `13:00 - 13:30 `, `Демонстрация платформы Маркетплейс`, ``,'')  
							 
							+e.col.col-12
								+itemB(a, `13:30 - 14:00 `, `Демонстрация платформы С2Р`, ``,'')  
								 
						
						
						+line('poly.png')
							- let a = 'https://us02web.zoom.us/j/89218958193'
							+e.col.col-12
								+itemB(a, `15:00 - 16:30 `, `Вопросы к эксперту Poly`, ``,'')  
								 
						+line('powercom.png')
							- let a = 'https://us02web.zoom.us/j/88490285015'
							+e.col.col-12
								+itemB(a, `13:30 - 14:00`, `Презентация трехфазных решений`, ``,'')  
							 
						+line('stratodesk.jpg')
							- let a = 'https://us02web.zoom.us/j/89953483721'
							+e.col.col-12
								+itemB(a, `12:30 - 13:30 `, `Stratodesk NoTouch Desktop - компания, продукты и решения`, ``,'')  
							 
							+e.col.col-12
								+itemB(a, `13:30 - 14:30`, `Создание безопасного рабочего места пользователя и управление им с помощью решений Stratodesk`, ``,'')  
							 
						
							+e.col.col-12
								+itemB(a, `14:30 - 15:30 `, `Платформа управления NoTouch Center, функциональность, настройки и возможности`, ``,'')  
								 
							+e.col.col-12
								+itemB(a, `15:30 - 16:30  `, `Stratodesk организация Home office сценария для удаленных пользователей`, ``,'')  
						 
						
						+line('Unify.png')
							- let a = 'https://us02web.zoom.us/j/8850609339'
							+e.col.col-12
								+itemB(a, `13:00 - 14:00 `, ` Демонстрация возможности Web Collaboration`, ``,'') 
							+e.col.col-12
								+itemB(a, `15:00 - 16:00  `, ` Демонстрация возможности OpenScape Contact Cente`, ``,'') 
						+line('veritas.png')
							- let a = 'https://us02web.zoom.us/j/81422233037'
							+e.col.col-12
								+itemB(a, `13:30 - 14:00 `, `NetBackup 8.3: Обзор обновленного веб-интерфейса и взаимодействия с виртуальными машинами VMware`, ``,'')  
								 
							+e.col.col-12
								+itemB(a, `14:30 - 15:00 `, `Восстановление файлов рабочих станций с помощью web-интерфейса Veritas DLO (Desktop and Laptop Options)`, ``,'')  
							 
							+e.col.col-12
								+itemB(a, `15:30 - 16:00 `, `Восстановление почты с помощью Veritas Backup Exec`, ``,'')  
								 
						+line('vertiv.png')
							- let a = 'https://us02web.zoom.us/j/83684295739'
							+e.col.col-12
								+itemB(a, `13:00 - 13:10`, `Обзор демо GXT5`, ``,'')  
								 
							+e.col.col-12
								+itemB(a, `14:00 - 14:10 `, `Обзор демо PDU `, ``,'')  
							 
							+e.col.col-12
								+itemB(a, `15:30 - 16:00 `, `Обзор консоли Avocent`, ``,'')  
							 
						
						+line('yadro.jpg')
							- let a = 'https://us02web.zoom.us/j/85071788344'
							+e.col.col-12
								+itemB(a, `15:00 - 15:30 `, `Обзор СХД TATLIN.UNIFIED`, ``,'')  
							 
							+e.col.col-12
								+itemB(a, `15:30 - 16:00`, `Обзор серверов VEGMAN S220/S320 `, ``,'')  
							 
						
	// end sEvents


mixin sEvents0()
	// start sEvents
	+b.sEvents--main.section#sEvents&attributes(attributes)
		.container
			.section-title
				.row
					.col
						h2 Программа
					.col-auto
						a.btn.btn-primary.btn-arrows(href="#") Скачать программу
			+e.line
				.row
					.col-6
						+e.date 22 октября
					.col-6
						+e.date 23 октября
				//- +e.btn.btn-primary(href="#") 
				//- 	+icon('icon-print')
			.h5.strong.mb-4 Ближайшие сессии
			mixin item(d,t, p, z)
				+e.item--main
					//- +e.star.active
					//- 	+icon('star')
					.row
						.col-12
							+e.head--main
								.row 
									+e.time.col-auto.pb-1!= d 
									block
							.h4.fw-500: a.text-white(href="#")!= t
							if p
								.h6!= p
					 
			
			+e.row-main.row
				.col-md-6
					+item(`12.55 – 14.10`, `Переговорная №1`,'Глобальное сотрудничество в условиях неопределенности','z')
						.pb-1.col-auto Встреча/переговоры
						.pb-1.col-xl.text-xl-right ЗАЛ «СТРАТЕГИИ»
				.col-md-6
					+item(`12.55 – 14.10`, `In Railway We Trust.`,`Глобальное сотрудничество в условиях неопределенности`) 
						.pb-1.col-auto.text-light Пленарная дискуссия 
						.pb-1.col-xl.text-xl-right  ЗАЛ «СТРАТЕГИИ»
		 
	// end sEvents


mixin sEvents7()
	// start sEvents
	+b.sEvents&attributes(attributes)
		mixin item(d,t,l, star )
			+e.item
				.row
					+e.time.strong.text-primary.col.order-first!= d
					if !star
						.col-auto
							+e.star.active
								+icon('star-active')
						.col-md-auto.order-md-first.order-lg-0
							+e.label-elem!= l
					.col-lg-12
						+e.text-block
							+e.title.strong
								a(href="#").text-body!= t
							+e.text
								.row
									if block
										block
									else
										.col-auto
											strong.text-primary Ольга Сигаль 
											| 
											span OCS Distribution
					//- .col-auto.order-lg-last
					//- 	+e.star.active
					//- 		+icon('star-active')
					//- .col-md-auto.order-md-first.order-lg-0
					//- 	+e.label-elem!= l


		+item(`12:40`, `Круглый стол с Ольгой Сигаль : Digital Академия, управляющий партнер «Возможен ли цифровой прорыв для IT-гигантов?»`, `Круглый стол`)
		+item(`13:50`, `Круглый стол с Анной Черняковой, вице-президентом OCS Distribution`, `Круглый стол`)

		//- +item(`13:50`, `Название сессии от вендора в одну или несколько строк`, `Сессия`) 
		//- +item(`13:50`, `Название сессии от вендора в одну или несколько строк`, ``,"st") 
		//- 	.col-12
		//- 		+e.copy-block
		//- 			.row
		//- 				.col-sm
		//- 					+e.link-text https://docs.google.com/document/d/12uUxcxKaEXUW9f7X2PC-Gn_aNHgxL_g5ys_GDyPQ5oE/edit#
		//- 				.col-auto
		//- 					button.btn.btn-sm.btn-primary Копировать
		//- 				.col-auto
		//- 					button.btn.btn-sm.btn-primary Присоединится

