mixin sidebar()
	+b.sCabinet-sidebar
		.row.g-3
			.col-xxl-12.col-auto
				+e.img-wrap
					+pic("avatar.png",'bg',0)
			.col-xxl-12.col
				+e.title Кормалина
					br
					| Ирина 
					br
					| Константиновна
				+e.text Mail.r Group
				+e.text Директор по продукту
				+e.text.strong.pb-3 г. Москва
				a.small.strong(href="#") Редактировать профиль
mixin sCabinet(data)
	// start sCabinet
	+b.sCabinet.section#sCabinet&attributes(attributes)
		.container 
			+e.head
				+b.UL.sCabinet-nav
					+e.link.active(href="#") Профиль
					+e.link(href="#") Визитница
					+e.link(href="#") Анонсы 
			.row
				.col-xxl-6
					if block
						block
					else
						+sidebar()
				.col-xxl-6
					+chat
					
	// end sCabinet