mixin sShow(data)
	// start sShow
	+b.sShow&attributes(attributes)
		+e.head
			.container-fluid
				+b.back(href="#")
					+icon('arrow-back')
		+e.inner.bg-wrap
			+pic('show.png','',0)(class="picture-bgg")

			+b.canvas-block
				- for (var x = 0; x < 10; x++)
					+e.logo-block(href="#")
						img(src="img/@2x/logo.png", alt="")
				svg.hover-block(width='1517' height='502' viewBox='0 0 1517 502' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M222.49 486L218.621 498.982L218.306 499.934H1.88502L0.651367 470L5.5856 460.597H9.97158L44.7853 401.798H18.4694L9.97158 400.701L5.5856 398L2.84404 394.945L2.02237 390V385.624V382L2.84404 378.086L38.481 321.754L42.0444 318L216 318.738H218.854L221.459 321.754L222.829 326.688L224 340.668V387.269V396.726V404.265L222.829 411.94L218.306 423.59L232 424.413V430H243.799L244.999 435.323L222.49 486Z' )

					path(d='M1304 502H1515.3L1516.77 470L1512 460.16H1507.67L1473.6 400.552H1504L1512 398L1515.3 395.266V390V384.108V379.41L1480 323.032L1475.95 318H1301.83L1296 319.215L1293.31 326V330.666L1291.84 398L1293.31 406L1296 416.702L1315.04 460.16H1296V487.762L1304 502Z' )
					path(d='M268.194 334L264 342L242.907 342.589L241.639 327.968H223.119L221.56 321.729L218.538 318.903L96 318V305.549L150.794 304.282V254L150.112 220.357L83.5371 222L101.57 194.429L106.249 188.678C158.007 188.061 261.7 186.826 262.401 186.826C263.103 186.826 264.383 187.281 264.936 187.508L267.275 192.187L268.25 200.862L269.03 243.361V263.733L268.194 268.801L265.716 275.917L260.647 287.224L250.802 307.108H268.194V308.441V328.951V334Z' )
					path(d='M1242.91 280.409L1256 308.283H1235.47V336.156L1240 343.605H1269.35V327.266H1274.63L1293.62 326L1294.34 324.622L1296 321.499L1299.14 318H1446.68V306.12H1424L1374.59 304.198V255.42V222H1422.17L1402.71 190L1245.56 188.379L1241.47 190L1240 196.309L1238.59 260.466L1240 271.999L1242.91 280.409Z' )
					path(d='M188.904 99.3005L168 112.248L235.932 111.001L238.094 185.524L186.577 187.603L262.675 186.67L265.072 187.603L267.07 191.998L268.469 201.388L269.129 212.865V218.916V243.464L283.858 244.115L284.347 241.674H288.985L294.356 238.5V212.865H292.241L322.107 191.381L329.757 184.301L333.744 176.977L335.128 170.385L333.618 121.645V112.248L331.112 107.654L328 105.774L275.983 103.268L196.63 99.3005H188.904Z' )
					path(d='M1173.71 190L1203.75 214H1197.26V238L1204.95 244.126H1216H1240V210.726V198L1241.47 190L1244.12 188.62H1338.79V185.976H1288V160.506V112.208H1328L1313.32 100.674L1186 106.441H1176L1168 110L1165.54 118V163.87V174L1168 182L1173.71 190Z' )
					path(d='M350.765 35.6906L330.118 43.1626V96.2533L208 99.5961L328 105.495L330.118 107.855L333.854 112.181V142L334.641 166L363.153 167.828L366.692 166L368 167.828L369.248 169.401L372.198 167.828L382.816 159.962H384V162.125L387.535 163.108L389.305 171.957L402.479 167.828V148.558L419.979 142V137.743L433.744 132.827V136.366H438.266V130.664L452.227 126V128.304L456 129.288V118L462.255 115.327H465.402V126L473.66 120.242L478.969 113.557L482.312 105.495L483.492 96.2533V72.6574L482.312 60.0729L480 54L477 50.0447L473.66 47.6851L387.535 38L363.153 34.5107H355.681L350.765 35.6906Z' )
					path(d='M1123.73 169.637L1165.06 166L1166.26 124.703V113.89L1168 110L1170.83 107.643L1176 105.72H1184L1156.89 97.07L1148.48 94V91.5433L1181.4 87.9389L1193.66 86L1194.86 46L1160 34.8353L1154.25 32.9131L1046.12 44.4469L1035 46L1027.62 54L1025.69 68.716V97.07L1027.62 105.72L1030.5 112.448L1035 118L1041.55 122.781L1048 124.703V115.812V113.89L1054.29 115.812L1056 118V127.827H1057.89L1059.81 126L1060.54 124.703L1092.73 135.997L1094.42 142L1110.27 146.569V166L1112 163.149H1114.36L1116.04 160.506L1122.29 166L1123.73 169.637Z' )
					//- ,,,?
					path(d='M524.981 113.557L536 122.602L552 123.389V95.2701L574.139 94V96.4499H576L577.285 121.029H584V96.4499V92.7139H590.46L596.359 91.3375L604.617 89.9611L605.797 75.017H608L614.842 82.489V75.017H618.185V82.489H622.511V91.3375L661.444 89.9611V80.916H670.686V89.9611H674.225V86H696L698.018 89.9611H708.832V84.652L724.563 83.4722L726.333 80.916L728 75.017V49.4548V41.9828L724.563 33.3309L716.894 25.0724L688 9.34177L678.158 2.65623L667.933 0.689941L622.511 2.65623L544 7.37543L506.694 9.34177L501.975 10.5216L500.992 14L500.205 16.2239V20.3531L501.975 25.0724L528 43.3592L532.846 46L544 47.2918V68.3315L518.689 70H497.059L498.042 92.7139L512 103.332L520 100.972V103.332L523.998 103.922L524.981 113.557Z' )

					path(d='M792 76.1968L794.171 82.6857L811.868 84.2587L812.654 90.1577H822.486V87.4049H824V86H846.868L848 89.3712L851.784 90.1577V80.3261H860.633V90.1577H899.763V84.2587H907.824V74.0339H910.774V82.6857L917.263 74.0339H920L921.195 87.4049L924.342 90.1577H929.651L934.37 87.4049L936 91.5341L938.499 92.3207V95.0735V108.641L946.168 110V95.0735H948.527V92.3207L970.943 94V120.832L978.022 121.816L984 120.832L986.674 119.063V103.135L989.427 102L990.607 99.9893L1003.58 104.512V106.871L1019.9 90.1577V70L977.039 67.3484L976 47.8817L978.022 46L989.427 43.9491L1010.07 26.4488L1016 23.1061V12.2913L1014.6 10.1283L1010.07 8.55526L989.427 7.37546L918.836 3.44282L856 0.689941H840L800 28.0218L796.137 32.9377L792 42.966V76.1968Z' )
					//- 
					

					
				


				+e.center-logo
					img(src="img/svg/logo.svg", alt="")

	// end sShow
mixin sShow2(data)
	// start sShow
	+b.sShow&attributes(attributes)
		+e.head
			.container-fluid
				.row
					.col-auto
						+b.back(href="#")
							+icon('arrow-back')
					.col-auto.d-none.d-sm-block
						img.logo-color(src="img/svg/logo-color.svg", alt="")
					.col
						+e.banner
							+pic("banner.jpg",'',0)
		+e.inner.bg-wrap
			+pic('show-page.png','',0)(class="picture-bgg")
			+b.canvas-block--page
				+e.link--about(href="#") О компании
				+e.link--contacts(href="#") Контакты
				+e.block--logo-page 
					img(src="img/@2x/logo.png", alt="")
				+e.block--video(href="https://www.youtube.com/watch?v=mbcP3Oc0PjU&list=PLqKQF2ojwm3l4oPjsB9chrJmlhZ-zOzWT&index=13" data-fancybox="video") 
					img(src="img/@2x/video.jpg", alt="")
				+e.btns
					+e.btn(href="#")
						+e.icon-wrap
							img(src="img/svg/btn-1.svg", alt="")
						+e.text Пройти опрос
					+e.btn(href="#")
						+e.icon-wrap
							img(src="img/svg/btn-2.svg", alt="")
						+e.text Пройти опрос
					+e.btn(href="#")
						+e.icon-wrap
							img(src="img/svg/btn-4.svg", alt="")
						+e.text Пройти опрос
					+e.btn(href="#")
						+e.icon-wrap
							img(src="img/svg/btn-3.svg", alt="")
						+e.text Пройти опрос
	// end sShow
	+b.sContent
		.container
			.row
				.col
					+b.text-block
						h2 AVAYA – ОДИН ИЗ КРУПНЕЙШИХ ПОСТАВЩИКОВ БАТАРЕЙ 
						p 26 лет назад наша компания была создана командой людей, хорошо знакомых с ИТ-каналом и понимавших, каким должен быть хороший дистрибьютор. Эти знания, преданность идеям крепкого партнерства и желание развивать рынок помогли нам вырасти и стать теми, кто мы есть сегодня.

						p В нашем портфеле почти 500 продуктовых линеек – от инфраструктур в коробке до наушников и детских конструкторов. В команде почти 2500 специалистов – от тех, кто знает слово «конвергентный», до тех, кто покажет как управлять гироскутером. У нас 27 городов присутствия в России, и если менеджер в одном офисе спит, то в другом скорее всего уже работает. Наш партнерский канал насчитывает почти 7500 
				.col-lg-auto
					+e.contact
						+e.contact-group
							+e.contact-title Сайт
							+e.contact-link(href="http://www.madin.ru") http://www.madin.ru

						+e.contact-group
							+e.contact-title E-mail
							+e.contact-link(href="mailto:m@madin.ru") m@madin.ru

						+e.contact-group
							+e.contact-title Телефон
							+e.contact-link(href="tel:+7(831)296-14-33") +7 (831) 296-14-33