extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sShow/_sShow.pug

block variables
	- let  mainPage= "page-show"
block title
	- let  title= 'title'
	title= title
block pagecontent

	//- +mob-mnu()
	//- +header()
	+top-nav()
	//- +topLine() 
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	+sShow
	+b.chat-modal--js
		+e.toggle-bg--js
		+e.toggle--js
			+e.count
			+icon('chat')
		+e.block
			+e.close--js
				+icon('close')
			+chat
	+footer()


	