extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sShow/_sShow.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent

	//- +mob-mnu()
	//- +header()
	//- +top-nav()
	//- +topLine() 
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	+top-nav()

						
	+sShow2
		+b.page-title
			.container
				.row.align-items-center
					.col-auto
						a.link-back(href="#") 
							+icon("arrow-back")
					.col
					.col-auto.pb-2
						a.btn.btn-primary.px-5(href="#") Оставить визитку 
	//- +footer()


	