
	// start .sContent
	.sContent {
		position: relative;
		z-index: 10;
		color: #ffffff;
		// margin-top: rem(-20);
		//  background-image: linear-gradient(180deg,  rgba(255, 255, 255, 0) 100%);
		position: relative;
		padding-top: rem(60);
		&::before{ 
			content: '';
			position: absolute;
			left: 0;
			top: rem(-120);
			background: linear-gradient(180deg, rgba(54, 54, 55, 0) 33.33%, #363637 100%);
			height: rem(150);
			width: 100%;
			z-index: -1;
			pointer-events: none;
		}
		&--page{
			overflow: hidden;
			&::before{
				display: none;
			}
		}
		p{
			margin-bottom: 1em;
		}
		&__row{
			position: relative;
			z-index: 2;
			&::before,
			&::after{
				content: url(../img/svg/logo-bg.svg);
				position: absolute;
				z-index: -1;

			}
			&::before{
				top: -10%;
				right: -20%;
			}
			&::after{ 
				z-index: -1;
				bottom: 0;
				left: -20%;
			}

		}
		&__aside{
			text-align: right;
			max-width: rem(344);
			margin-bottom: 3rem;
				@include media-breakpoint-up(lg)  {

					margin-left: auto;
				}
			position: sticky;
			top: 0;
			img{
				border-radius: rem(4);
			}
		}
		&__block{
			background: linear-gradient(121.1deg, #35373C 0.59%, #154396 119.86%);

			color: #fff;
			padding: rem(30) rem(30);
			min-height: 100%;
			min-height: 100%;
			font-size: rem(20);
		}
		&__foot{
			img{
				border-radius: rem(4);
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 
	
	@include media-breakpoint-up(sm) {

		font-size: rem(20);
	}
	a{
		font-weight: 300;
		color: #ffffff !important; 
	}
	&__contact-group {
		margin-bottom: rem(20);
	}
} // end.sContent

.text-block{
	max-width: rem(870);
	p{
		font-weight: 300;
	}
	
}

blockquote{
	position: relative;
	padding-top: 1.4em;
	padding-bottom: 1em;
	&::before,
	&::after{
		content: '';
		position: absolute;
		width: calc(100% + 53px * 2);
		height: 3px;
		left: -53px;
		background-color: $primary;
	}
	&::before{
		top: 0;
	}
	&::after{
		bottom: 0;
	}
}