mixin sContent()
	// start sContent
	+b.sContent--page.section.pt-0#sContent&attributes(attributes)
		.container 
			+e.row.row
				.col-xl-8.col-lg-9
					p Владивосток&nbsp;&mdash; город и&nbsp;порт на&nbsp;Дальнем Востоке России. Политический, культурный, научно-образовательный и&nbsp;экономический центр региона. Лидер среди городов Приморского края, отличающийся концентрацией трудовых, финансовых и&nbsp;производственных ресурсов.

					p Город расположен в&nbsp;одном из&nbsp;самых густонаселенных регионов планеты. В&nbsp;радиусе 1&nbsp;тыс. километров проживает 414 млн человек (почти 300 млн человек в&nbsp;городах). Это единственный город в&nbsp;России с&nbsp;таким мощнейшим окружением, которое охватывает города-миллионники в&nbsp;северо-восточных провинциях Китая (Харбин, Чанчунь, Шэньян и&nbsp;т.&nbsp;д.), всю территорию Республики Корея, КНДР и&nbsp;почти всю территорию Японии.

					p: strong Владивосток является опорным центром России на&nbsp;Дальнем Востоке, самым экономически развитым и&nbsp;географически близким к&nbsp;странам АТР российским городом. Он&nbsp;имеет все конкурентные преимущества для позиционирования себя в&nbsp;качестве ключевого игрока среди стран Тихоокеанского бассейна и&nbsp;ведущего центра международного сотрудничества и&nbsp;интеграционных процессов России в&nbsp;Азиатско-Тихоокеанском регионе.

					blockquote 
						p: em Во&nbsp;Владивостоке работают семь генеральных консульств иностранных государств: дипломатические представительства Китая, Японии, Республики Корея, КНДР, США, Индии и&nbsp;Вьетнама, канцелярия посольства Киргизии в&nbsp;России, а&nbsp;также 16&nbsp;почетных консулов других государств, в&nbsp;том числе и&nbsp;европейских. Ни&nbsp;один другой
					p Владивосток — город и порт на Дальнем Востоке России. Политический, культурный, научно-образовательный и экономический центр региона. Лидер среди городов Приморского края, отличающийся концентрацией трудовых, финансовых и производственных ресурсов.

					p Город расположен в одном из самых густонаселенных регионов планеты. В радиусе 1 тыс. километров проживает 414 млн человек (почти 300 млн человек в городах). Это единственный город в России с таким мощнейшим окружением, которое охватывает города-миллионники 
				+e.aside-col.col-xl-4.align-self-center.col-lg-3
					+e.aside 
						+pic("page.jpg",'',0)
				.col-12 
				.col-xl-4
					+e.block 
						strong Владивосток является опорным центром России на Дальнем Востоке, самым экономически развитым и географически близким к странам АТР российским городом. Он имеет все конкурентные преимущества для позиционирования себя в качестве ключевого игрока среди стран Тихоокеанского бассейна 
				+e.foot.col
					+pic("foot.jpg",'',0)
	// end sContent